#main {
  height: 40rem;
  margin: 5rem auto;
  position: static; }

.topBar {
  border-bottom: solid 0.1rem #009468;
  float: left;
  width: 100%;
  margin-bottom: 2rem;
  padding-bottom: 2rem; }
  .topBar__title {
    color: #009468;
    padding: 1rem;
    float: left;
    width: 100%; }
  .topBar__searchBar {
    float: left;
    margin-right: 2rem;
    width: 20rem;
    height: 4rem; }
  .topBar__searchBtn {
    height: 4rem;
    width: auto;
    float: right; }

.content__view {
  min-height: 60vh;
  float: left;
  width: 100%; }

.loadBtn {
  margin-top: 2rem;
  float: left;
  width: 100%; }

.popUp__content {
  width: 150vh;
  height: 80vh; }

.account {
  width: 100%;
  float: left;
  margin: 1rem 0;
  height: auto;
  box-shadow: 0 0.1rem 2rem -0.5rem #000;
  display: grid;
  grid-template-columns: [title] 20% [gender] 5% [nation] 5% [email] 20% [phoneNo] 10% [code] 5% [placement] 20% [verified] 5% [buttons] 10%;
  grid-template-rows: auto; }
  .account__title, .account__nation, .account__email, .account__code, .account__gender, .account__phoneNo, .account__code, .account__verified--t, .account__verified--f, .account__placement {
    float: left;
    height: 5rem;
    overflow: hidden;
    line-height: 5rem;
    padding: 0 .5rem; }
  .account__email {
    grid-column: span email;
    background-color: #009468;
    color: #FFF; }
  .account__nation {
    grid-column: span nation;
    background-color: #13ff82;
    color: #FFF; }
  .account__gender {
    grid-column: span gender; }
  .account__code {
    grid-column: span code; }
  .account__placement {
    grid-column: span placement; }
  .account__title {
    grid-column: span name; }
  .account__verified--t, .account__verified--f {
    grid-column: span verified; }
  .account__verified--t {
    background-color: #00a84f;
    color: #FFF; }
  .account__verified--f {
    background-color: #b33030;
    color: #FFF; }
  .account__buttons {
    grid-column: span buttons;
    height: 5rem; }
    .account__buttons__button {
      width: 5rem;
      height: 5rem;
      float: right;
      padding: 1rem; }

.reg__form {
  position: relative;
  width: 100%;
  float: left; }
  .reg__form h1 {
    color: #171717;
    margin-bottom: 2rem;
    float: left; }

.reg__placement {
  float: left;
  width: 100%;
  margin-bottom: 3rem;
  padding-left: 1rem; }
  .reg__placement__comment {
    color: #CCC;
    float: left;
    margin: .5rem 0; }
  .reg__placement__label {
    color: #13ff82;
    margin-bottom: 1rem; }

.editPP {
  width: 100%;
  padding: 5% 10%;
  position: relative;
  float: left; }
  .editPP__content {
    float: left;
    width: 100%;
    margin: 3rem 0; }
  .editPP__buttons {
    width: 38rem;
    float: left;
    margin: 2rem 2rem; }
    .editPP__buttons__button {
      width: 15rem;
      margin-right: 2rem;
      float: left;
      height: 5rem; }

